{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Generate status</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{% static 'css/emp.css' %}">
    </head>
    <body>
        <!--navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <img src="{% static 'images/complainticon.webp' %}" class="images" alt="">
                <a class="navbar-brand" href="{% url 'employee:ehome' %}">
                    <span class="text-warning">Complaint</span>Box </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'employee:ehome' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'employee:empabout' %}">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'employee:empdetails' %}">Complaint Details</a>
                        </li>
                        {% comment %} <li class="nav-item">
                            <a class="nav-link" href="{% url 'employee:empstatus' %}">generate Status</a>
                        </li> {% endcomment %}
                        {% comment %} <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"> REGISTER </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'accounts:uregistration' %}">User</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'accounts:empregistration' %}">Employee</a>
                                    </li>
                                </ul>
                            </div>
                        </li> {% endcomment %}
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn dropdown-toggle " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-person-lines-fill"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'accounts:E_login' %}">Login</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'accounts:E_profile' %}">Profile</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'accounts:E_logout' %}">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--navbar -->
        <br>
        <br>
        <br>
        <section class="bg-dark pt-lg-5">
            <div class="container bg-white">
                <div class="row">
                    <div class="col-md-12">
                        <!--Breadcrumb-->
                        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg
																		xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-3">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'employee:ehome' %}">Home</a>
                                </li>
                                <li class="breadcrumb-item active fs-4" aria-current="page">Complaint View</li>
                            </ol>
                        </nav>
                        <!--Breadcrumb-->
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-body p-md-5 text-black">
                                            <form class="form" method="POST" enctype="multipart/form-data" validate> {% csrf_token %}
                                                    {% comment %} {{form.as_p}} {% endcomment %}
                                                    {% comment %} {% for i in form %} {% endcomment %}
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="card-body p-md-5 text-black">
                                                            <div class="col-md-6 mb-5">
                                                                <div class="form-outline">
                                                                    {% comment %}<input type="number" id="form3Example1m" class="form-control form-control-lg" placeholder="Enter Your Mobile Number" required /> {% endcomment %}
                                                                   <b> <label class="form-label fs-4" for="form3Example1m">Username:</label></b><br>
                                                                    {{form.username}}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 mb-5">
                                                                <div class="form-outline">
                                                                    {% comment %}<input type="number" id="form3Example1m" class="form-control form-control-lg" placeholder="Enter Your Mobile Number" required /> {% endcomment %}
                                                                   <b> <label class="form-label fs-4" for="form3Example1m">Complaint ID:</label></b><br>
                                                                    {{form.id}}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 mb-5">
                                                                    <div class="form-outline">
                                                                        {% comment %}<input type="number" id="form3Example1m" class="form-control form-control-lg" placeholder="Enter Your Mobile Number" required /> {% endcomment %}
                                                                       <b> <label class="form-label fs-4" for="form3Example1m">Mobile Number:</label></b><br>
                                                                        {{form.username.tel}}
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 mb-5">
                                                                    <div class="form-outline">
                                                                        {% comment %} <input type="email" id="form3Example1n" class="form-control form-control-lg" placeholder="Enter Your Email ID" /> {% endcomment %}
                                                                       <b> <label class="form-label fs-4" for="form3Example1n">Email ID:</label></b><br>
                                                                        {{form.username.user.user.email}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 mb-5">
                                                                <div class="form-outline">
                                                                    <b><label class="form-label fs-4" for="form3Example1n">Complaint Type:</label></b>
                                                                    <br />
                                                                    {% comment %} <select class="select fs-5">
                                                                        <option value="1">--Complaint Type--</option>
                                                                        <option value="1">Street Light</option>
                                                                        <option value="2">Pipe Leakage</option>
                                                                        <option value="3">Rainwater Drainage</option>
                                                                        <option value="4">Road Reconstruction</option>
                                                                        <option value="4">Garbage System</option>
                                                                    </select> {% endcomment %}
                                                                    {{form.complaint_type}}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 mb-5">
                                                                <div class="form-outline">
                                                                    <b><label class="form-label fs-4" for="form3Example1n">Select City:</label></b>
                                                                    <br />
                                                                    {% comment %} <select class="select fs-5">
                                                                        <option value="1">--Select City--</option>
                                                                        <option value="1">Ahmedabad</option>
                                                                        <option value="2">Gandhinagar</option>
                                                                        <option value="3">Rajkot</option>
                                                                        <option value="4">Vadodara</option>
                                                                        <option value="4">Bhavnagar</option>
                                                                        <option value="4">Junagadh</option>
                                                                        <option value="4">Jamnagar</option>
                                                                    </select> {% endcomment %}
                                                                    {{form.username.city}}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 mb-5">
                                                                <div class="form-outline">
                                                                    {% comment %} <input type="date" id="form3Example1n" class="form-control form-control-lg" required /> {% endcomment %}
                                                                    <b><label class="form-label fs-4" for="form3Example1n">Date:</label></b><br>
                                                                    {{form.date}}
                                                                </div>
                                                            </div>
                                                            <div class="form-outline mb-5">
                                                                {% comment %} <input type="text" id="form3Example8" class="form-control form-control-lg" /> {% endcomment %}
                                                                <b><label class="form-label fs-4" for="form3Example8">Address:</label></b><br>     
                                                                {{form.username.address}}
                                                            </div>
                                                            <div class="col-md-6 mb-5">
                                                                <div class="form-outline">
                                                                    <b><label class="form-label fs-4" for="form3Example1n">Gender:</label></b>
                                                                    <br />
                                                                    {{form.username.gender}}
                                                                </div>
                                                            </div>
                                                            {% comment %} <div class="d-md-flex justify-content-start align-items-center mb-4 py-2 fs-5">
                                                                <h6 class="mb-0 me-4 fs-4">Gender: </h6>
                                                                <div class="form-check form-check-inline mb-0 me-4"> 
                                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender" value="option1" />
                                                                    <label class="form-check-label" for="femaleGender">Female</label>
                                                                </div>
                                                                <div class="form-check form-check-inline mb-0 me-4">
                                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender" value="option2" />
                                                                    <label class="form-check-label" for="maleGender">Male</label>
                                                                </div>
                                                                <div class="form-check form-check-inline mb-0">
                                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender" value="option3" />
                                                                    <label class="form-check-label" for="otherGender">Other</label>
                                                                </div>
                                                            </div> {% endcomment %}
                                
                                                            
                                                            {% comment %} <div class="row fs-5"> 
                                                                <div class="col-md-6 mb-4">
                                                                    <select class="select">
                                                                        <option value="1">State</option>
                                                                        <option value="2">Option 1</option>
                                                                        <option value="3">Option 2</option>
                                                                        <option value="4">Option 3</option>
                                                                    </select>
                                                                </div> 
                                                                <div class="col-md-6 mb-4">
                                                                    <select class="select">
                                                                        <option value="1">City</option>
                                                                        <option value="2">Option 1</option>
                                                                        <option value="3">Option 2</option>
                                                                        <option value="4">Option 3</option>
                                                                    </select>
                                                                </div>  
                                                            </div>{% endcomment %}
                                                            <div class="form-outline mb-4">
                                                                {% comment %} <input type="number" id="form3Example90" class="form-control form-control-lg" placeholder="Enter Pincode" /> {% endcomment %}
                                                                <b><label class="form-label fs-4" for="form3Example90">Pincode:</label></b><br>
                                                                {{form.pincode}}
                                                            </div>
                                                            <div class="mb-4">
                                                                <b><label for="formFileDisabled" class="form-label fs-4">Picture:</label></b>
                                                                {% comment %} <input class="form-control" type="file" id="formFileDisabled"> {% endcomment %}
                                                               <br> 
                                                              <img src="{{form.complaint_picture.url}}"></img>
                                                            </div>
                                                            <div class="d-flex justify-content-end pt-3">
                                                                <a href="{% url 'employee:empstatus' form.id  %}"><button type="button" class="btn btn-warning btn-lg">Generate Status</button></a>
                                                            </div>
                                                            <div class="d-flex justify-content-end pt-3">
                                                                <a href="{% url 'employee:empfeedback' %}"><button type="button" class="btn btn-warning btn-lg">View Feedback</button></a>
                                                                {% comment %} <input type="submit" value="Submit" class="btn btn-warning btn-lg ms-2"> {% endcomment %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                {% comment %} {% endfor %} {% endcomment %}
                                            </form>
                                                {% comment %} <div class="row">
                                                    <div class="col-md-6 mb-5">
                                                        <div class="form-outline">
                                                            <input type="number" id="form3Example1m" class="form-control form-control-lg" placeholder="Enter Complaint ID" required />
                                                            <label class="form-label fs-4" for="form3Example1m">Complaint ID:</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-5">
                                                        <div class="form-outline">
                                                            <input type="email" id="form3Example1n" class="form-control form-control-lg" placeholder="Enter Your Email ID" />
                                                            <label class="form-label fs-4" for="form3Example1n">Email ID:</label>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-center pt-3">
                                                        <input type="submit" value="Submit" class="btn btn-warning btn-lg ms-2">
                                                    </div>
                                                </div> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="bg-dark text-center text-white">
            <!-- Grid container -->
            <div class="container p-4">
                <!-- Section: Text -->
                <h3>
                    <img src="{% static 'images/complainticon.webp' %}" class="images" alt="">Complaint Box
                </h3>
                <br />
                <section>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-start"> The Complaint Boxis a web based enterprise solution enhance citizen satisfaction through comprehensive service management and efficient service delivery. Complaint Boxautomates entire complaint process, right from registration to closure. It also enforces service level policies to ensure the complaint gets attended within desired timeline or gets escalated to higher authorities for their attention and intervention. </p>
                                <br />
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section: Text -->
                <!-- Section: Links -->
                <section class="">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 border-end">
                            <a href="{% url 'employee:ehome' %}" class="text-white text-decoration-none">
                                <h5 class="text-uppercase text-start">Home</h5>
                                <br>
                            </a>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 border-end">
                            <a href="{% url 'employee:empabout' %}" class="text-white text-decoration-none">
                                <h5 class="text-uppercase text-start">about us</h5>
                                <br>
                            </a>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 ">
                            <a href="{% url 'employee:empdetails' %}" class="text-white text-decoration-none">
                                <h5 class="text-uppercase text-start">complaint details</h5>
                                <br>
                            </a>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        {% comment %} <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                            <a href="{% url 'employee:empstatus' %}" class="text-white text-decoration-none">
                                <h5 class="text-uppercase text-start">generate status</h5>
                            </a>
                        </div> {% endcomment %}
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->
            </div>
            <!-- Grid container -->
            <br />
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);"> © 2022 Copyright: <a class="text-white text-decoration-none" href="{% url 'employee:ehome' %}">Complaint Box</a>
            </div>
            <!-- Copyright -->
        </footer>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>