{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>employee</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{% static 'css/emp.css' %}">
        <style>
            body {
                color: #566787;
                background: #f5f5f5;
                font-family: 'Roboto', sans-serif;
            }

            .table-responsive {
                margin: 30px 0;
            }

            .table-wrapper {
                min-width: 1000px;
                background: #fff;
                padding: 20px;
                box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
            }

            .table-title {
                padding-bottom: 10px;
                margin: 0 0 10px;
                min-width: 100%;
            }

            .table-title h2 {
                margin: 8px 0 0;
                font-size: 22px;
            }

            .search-box {
                position: relative;
                float: right;
            }

            .search-box input {
                height: 34px;
                border-radius: 20px;
                padding-left: 35px;
                border-color: #ddd;
                box-shadow: none;
            }

            .search-box input:focus {
                border-color: #3FBAE4;
            }

            .search-box i {
                color: #a0a5b1;
                position: absolute;
                font-size: 19px;
                top: 8px;
                left: 10px;
            }

            table.table tr th,
            table.table tr td {
                border-color: #e9e9e9;
            }

            table.table-striped tbody tr:nth-of-type(odd) {
                background-color: #fcfcfc;
            }

            table.table-striped.table-hover tbody tr:hover {
                background: #f5f5f5;
            }

            table.table th i {
                font-size: 13px;
                margin: 0 5px;
                cursor: pointer;
            }

            table.table td:last-child {
                width: 130px;
            }

            table.table td a {
                color: #a0a5b1;
                display: inline-block;
                margin: 0 5px;
            }

            table.table td a.view {
                color: #03A9F4;
            }

            table.table td a.edit {
                color: #FFC107;
            }

            table.table td a.delete {
                color: #E34724;
            }

            table.table td i {
                font-size: 19px;
                margin-left: 40px

            }

            .pagination {
                float: right;
                margin: 0 0 5px;
            }

            .pagination li a {
                border: none;
                font-size: 95%;
                width: 30px;
                height: 30px;
                color: #999;
                margin: 0 2px;
                line-height: 30px;
                border-radius: 30px !important;
                text-align: center;
                padding: 0;
            }

            .pagination li a:hover {
                color: #666;
            }

            .pagination li.active a {
                background: #03A9F4;
            }

            .pagination li.active a:hover {
                background: #0397d6;
            }

            .pagination li.disabled i {
                color: #ccc;
            }

            .pagination li i {
                font-size: 16px;
                padding-top: 6px
            }

            .hint-text {
                float: left;
                margin-top: 6px;
                font-size: 95%;
            }
        </style>
        <script>
            $(document).ready(function() {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    </head>
    <body>
        <!--navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <img src="{% static 'images/complainticon.webp' %}" class="images" alt="">
                <a class="navbar-brand" href="{% url 'employee:ehome' %}">
                    <span class="text-warning">Complaint</span>Box </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'employee:ehome' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'employee:empabout' %}">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'employee:empdetails' %}">Complaint Details</a>
                        </li>
                        {% comment %} <li class="nav-item">
                            <a class="nav-link" href="{% url 'employee:empfeedback' %}">view feedback</a>
                        </li> {% endcomment %}
                        {% comment %} <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"> REGISTER </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'accounts:uregistration' %}">User</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'accounts:empregistration' %}">Employee</a>
                                    </li>
                                </ul>
                            </div>
                        </li> {% endcomment %}
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn dropdown-toggle " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-person-lines-fill"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'accounts:E_login' %}">Login</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'accounts:E_profile' %}">Profile</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'accounts:E_logout' %}">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--navbar -->
        <br>
        <br>
        <br>
        <section class="bg-dark pt-5 pb-5">
            <div class="container bg-white">
                <div class="row">
                    <div class="col-md-12">
                        <!--Breadcrumb-->
                        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg
																						xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                            <ol class="breadcrumb pt-3">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'employee:ehome' %}">Home</a>
                                </li>
                                <li class="breadcrumb-item active fs-4" aria-current="page">Complaints Details</li>
                            </ol>
                        </nav>
                        <!--Breadcrumb-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <div class="container-flud">
                                <div class="table-responsive">
                                    <div class="table-wrapper">
                                        <div class="table-title">
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    {% comment %} <h2>
                                                        <b>Complaints</b>
                                                    </h2> {% endcomment %}
                                                </div>
                                                {% comment %} <div class="col-sm-4">
                                                    <div class="search-box">
                                                        <i class="material-icons">&#xE8B6;</i>
                                                        <input type="text" class="form-control" placeholder="Search&hellip;">
                                                    </div>
                                                </div> {% endcomment %}
                                            </div>
                                        </div>
                                        <table class="table table-striped table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Name</i>
                                                    </th>
                                                    <th>Address</th>
                                                    <th>City</i>
                                                    </th>
                                                    <th>Date</th>
                                                    <th>Pin Code</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in form %}
                                                <tr>
                                                    <td>{{i.id}}</td>
                                                    <td>{{i.username}}</td>
                                                    <td>{{i.username.address}}</td>
                                                    <td>{{i.username.city}}</td>
                                                    <td>{{i.date}}</td>
                                                    <td>{{i.pincode}}</td>
                                                    <td>
                                                        <a href="{% url 'employee:E_view' i.id %}" class="view" title="View" data-toggle="tooltip">
                                                            {% comment %} <i class="material-icons">&#xE417;</i> {% endcomment %}
                                                            <i class="bi bi-eye-fill"></i>
                                                        </a>  
                                                        {% comment %} <a href="#" class="edit" title="Edit" data-toggle="tooltip">
                                                            <i class="material-icons">&#xE254;</i>
                                                        </a>  {% endcomment %}
                                                        {% comment %} <a href"#" class="delete" title="Delete" data-toggle="tooltip">
                                                            <i class="material-icons">&#xE872;</i>
                                                            <i class="bi bi-trash3-fill"></i>
                                                        </a> {% endcomment %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                {% comment %} <tr>
                                                    <td>2</td>
                                                    <td>Maria Anders</td>
                                                    <td>Obere Str. 57</td>
                                                    <td>Berlin</td>
                                                    <td>under process</td>
                                                    <td>12209</td>
                                                    <td>
                                                        <a href="#" class="view" title="View" data-toggle="tooltip">
                                                            <i class="material-icons">&#xE417;</i>
                                                        </a> 
                                                        <a href="#" class="edit" title="Edit" data-toggle="tooltip">
                                                            <i class="material-icons">&#xE254;</i>
                                                        </a>  
                                                        <a href="#" class="delete" title="Delete" data-toggle="tooltip">
                                                            <i class="material-icons">&#xE872;</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Fran Wilson</td>
                                                    <td>C/ Araquil, 67</td>
                                                    <td>Madrid</td>
                                                    <td>under process</td>
                                                    <td>28023</td>
                                                    <td>
                                                        <a href="#" class="view" title="View" data-toggle="tooltip">
                                                            <i class="material-icons">&#xE417;</i>
                                                        </a>
                                                        <a href="#" class="edit" title="Edit" data-toggle="tooltip">
                                                            <i class="material-icons">&#xE254;</i>
                                                        </a>  
                                                        <a href="#" class="delete" title="Delete" data-toggle="tooltip">
                                                            <i class="material-icons">&#xE872;</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>Dominique Perrier</td>
                                                    <td>25, rue Lauriston</td>
                                                    <td>Paris</td>
                                                    <td>under process</td>
                                                    <td>75016</td>
                                                    <td>
                                                        <a href="#" class="view" title="View" data-toggle="tooltip">
                                                            <i class="material-icons">&#xE417;</i>
                                                        </a> 
                                                        <a href="#" class="edit" title="Edit" data-toggle="tooltip">
                                                            <i class="material-icons">&#xE254;</i>
                                                        </a> 
                                                        <a href="#" class="delete" title="Delete" data-toggle="tooltip">
                                                            <i class="material-icons">&#xE872;</i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>Martin Blank</td>
                                                    <td>Via Monte Bianco 34</td>
                                                    <td>Turin</td>
                                                    <td>under process</td>
                                                    <td>10100</td>
                                                    <td>
                                                        <a href="#" class="view" title="View" data-toggle="tooltip">
                                                            <i class="material-icons">&#xE417;</i>
                                                        </a>
                                                        <a href="#" class="edit" title="Edit" data-toggle="tooltip">
                                                            <i class="material-icons">&#xE254;</i>
                                                        </a> 
                                                        <a href="#" class="delete" title="Delete" data-toggle="tooltip">
                                                            <i class="material-icons">&#xE872;</i>
                                                        </a>
                                                    </td>
                                                </tr> {% endcomment %}
                                            </tbody>
                                        </table>
                                        {% comment %} <div class="clearfix">
                                            <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries </div>
                                        </div> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <footer class="bg-dark text-center text-white">
            <!-- Grid container -->
            <div class="container p-4">
                <!-- Section: Text -->
                <h3>
                    <img src="{% static 'images/complainticon.webp' %}" class="images" alt="">Complaint Box
                </h3>
                <br />
                <section>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-start"> The Complaint Boxis a web based enterprise solution enhance citizen satisfaction through comprehensive service management and efficient service delivery. Complaint Boxautomates entire complaint process, right from registration to closure. It also enforces service level policies to ensure the complaint gets attended within desired timeline or gets escalated to higher authorities for their attention and intervention. </p>
                                <br />
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section: Text -->
                <!-- Section: Links -->
                <section class="">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 border-end">
                            <a href="{% url 'employee:ehome' %}" class="text-white text-decoration-none">
                                <h5 class="text-uppercase text-start">Home</h5>
                                <br>
                            </a>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 border-end">
                            <a href="{% url 'employee:empabout' %}" class="text-white text-decoration-none">
                                <h5 class="text-uppercase text-start">about us</h5>
                                <br>
                            </a>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                            <a href="{% url 'employee:empdetails' %}" class="text-white text-decoration-none">
                                <h5 class="text-uppercase text-start">complaint details</h5>
                                <br>
                            </a>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        {% comment %} <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                            <a href="{% url 'employee:empfeedback' %}" class="text-white text-decoration-none">
                                <h5 class="text-uppercase text-start">view feedback</h5>
                            </a>
                        </div> {% endcomment %}
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->
            </div>
            <!-- Grid container -->
            <br />
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);"> © 2022 Copyright: <a class="text-white text-decoration-none" href="{% url 'employee:ehome' %}">Complaint Box</a>
            </div>
            <!-- Copyright -->
        </footer>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>